---
import PageMetaEn from "../components/PageMetaEn.astro";
import Layout from "../layouts/Layout.astro";
---

<PageMetaEn title="Page not found - Pagina no encontrada" />
<Layout lang="en">
   <div
      class="flex px-4 md:px-0 h-screen max-w-[800px] mx-auto flex-col items-center justify-center gap-3"
   >
      <h1 class="text-4xl font-bold text-gray-800 dark:text-white mb-8">
         404 - Página no encontrada / Page Not Found
      </h1>
      <p class="text-gray-600 dark:text-gray-300 mb-6">
         La página que estás buscando podría haber sido eliminada, haber
         cambiado de nombre o no estar disponible temporalmente.
      </p>
      <p class="text-gray-600 dark:text-gray-300 mb-6">
         The page you are looking for might have been removed, had its name
         changed or is temporarily unavailable.
      </p>
      <a href="https://facal.me/">Volver al inicio / Go back to homepage</a>
   </div>
</Layout>
<style>
   a {
      @apply inline-block rounded-lg bg-blue-500 px-6 py-3 font-semibold text-white hover:bg-blue-600;
   }
</style>
