---
// src/pages/gmail.astro
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Redireccionando a Gmail</title>
    <meta http-equiv="refresh" content="0; url=mailto:faustocalvino@gmail.com" />
  </head>
  <body>
    <p>Redireccionando a Gmail...</p>
  </body>
</html>
