---
// src/pages/outlook.astro
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Redireccionando a Outlook</title>
    <meta http-equiv="refresh" content="0; url=mailto:faustocalvino@outlook.com" />
  </head>
  <body>
    <p>Redireccionando a Outlook...</p>
  </body>
</html>
