---
import PageMetaEs from "../../components/PageMetaEs.astro";
import Layout from "../../layouts/Layout.astro";
---

<PageMetaEs title="Presentación Playroom" />
<Layout lang="en">
   <div
      class="flex px-4 md:px-0 h-screen max-w-[800px] mx-auto pt-10 flex-col gap-3"
   >
      <h1 class="text-3xl font-semibold">
         Presentacion para el puesto de Front-end Developer en Playroom360
      </h1>
      <p>
         Aquí les dejo una lista de mis últimos trabajos con una pequeña
         descripción de como esta hecho cada uno y un enlace para que puedan
         verlos en una captura de pantalla o en vivo. La mayoria de los sitios
         los he montado desde cero, instalando WordPress desde el CPanel en un
         servidor GoDaddy.
      </p>
      <p>
         Muchas gracias de antemano por considerar mi candidatura para el puesto
         y cualquier cosa que necesiten no duden en contactarme. Estoy muy
         entusiasmado con la posibilidad de trabajar con ustedes y contribuir al
         equipo.
      </p>
      <section class="flex flex-col gap-4 mt-6 pb-10">
         <div class="flex flex-col gap-2">
            <h4 class="font-semibold text-xl">Difusión Empresarial</h4>
            <p>
               Este sitio es un portal de noticias en el que el cliente puede
               subir noticias de distintas categorias y programas completos.
               Está hecho principalmente con WordPress, Hello Elementor,
               Elementor. Cuenta con optimización SEO de YoastSEO y de caché con
               LiteSpeed Cache.
            </p>
            <div>
               <a
                  href="https://www.difusionempresarial.tv/"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  Ver sitio
               </a>
               <a
                  href="https://facal.me/screenshots-proyectos/DIFUSION-1.png"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  Ver captura de pantalla
               </a>
            </div>
         </div>

         <div class="flex flex-col gap-2">
            <h4 class="font-semibold text-xl">Abundantia Naples</h4>
            <p>
               Esta página es una landing page para un proyecto de una agencia
               de RRHH. Esta hecho principalmente con WordPress, Hello
               Elementor, Elementor y un Contact Form simple.
            </p>
            <div>
               <a
                  href="https://abundantianaples.com/"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  Ver sitio
               </a>
               <a
                  href="https://facal.me/screenshots-proyectos/ABUNDANTIA-NAPLES-1.png"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  Ver captura de pantalla
               </a>
            </div>
         </div>

         <div class="flex flex-col gap-2">
            <h4 class="font-semibold text-xl">Battiart</h4>
            <p>
               Esta página es un e-commerce de venta de arte digital. Está hecho
               principalmente con WordPress, WooCommerce, Elementor y una
               pasarela de pagos de PayPal.
            </p>
            <div>
               <a
                  href="https://battiart.com/"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  Ver sitio
               </a>
               <a
                  href="https://facal.me/screenshots-proyectos/BATTIART-1.png"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  Ver captura de pantalla
               </a>
            </div>
         </div>
         <div class="flex flex-col gap-2">
            <h4 class="font-semibold text-xl">LED Media Group</h4>
            <p>
               Este es un e-commerce de venta de pantallas LED sin pasarela de
               pagos de momento. También está hecho con WordPress, Elementor y
               WooComerce.
            </p>
            <div>
               <a
                  href="https://ledmediagroup.com/"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  Ver sitio
               </a>
               <a
                  href="https://facal.me/screenshots-proyectos/LED-1.png"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  Ver captura de pantalla
               </a>
            </div>
         </div>
         <div class="flex flex-col gap-2">
            <h4 class="font-semibold text-xl">IUPI</h4>
            <p>
               Esta página es una landing page para un proyecto de una agencia
               de diseño gráfico. Está hecha principalmente con WordPress, Hello
               Elementor, Elementor y un Contact Form simple.
            </p>
            <div>
               <a
                  href="https://iupi.com/"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  Ver sitio
               </a>
               <a
                  href="https://facal.me/screenshots-proyectos/IUPI-FULL-1.png"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  Ver captura de pantalla
               </a>
            </div>
         </div>

         <div class="flex flex-col gap-2">
            <h4 class="font-semibold text-xl">Next Level Authentic</h4>
            <p>
               Este sitio es un portal de autenticacion de productos deportivos.
               Tambien hecho con WordPress, Hello Elementor, Elementor.
            </p>
            <div>
               <a
                  href="https://nextlevelauthentic.com/"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  Ver sitio
               </a>
               <a
                  href="https://facal.me/screenshots-proyectos/NEXT-1.png"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  Ver captura de pantalla
               </a>
            </div>
         </div>

         <div class="flex flex-col gap-2">
            <h4 class="font-semibold text-xl">Roger Huguet</h4>
            <p>
               Esta página es una simple landing page de presentación de un
               escritor en la que podía subir algunos artículos y contaba una
               galeria de fotos. También hecha con WordPress, Hello Elementor,
               Elementor.
            </p>
            <div>
               <a
                  href="https://facal.me/screenshots-proyectos/ROGER-1.png"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  Ver captura de pantalla
               </a>
            </div>
         </div>
      </section>
      <p class="text-center text-xl pb-10">
         Si quieres saber mas sobre mi puedes ir a la <a
            class="underline"
            href="https://facal.me">pagina principal</a
         > de mi portfolio
      </p>
   </div></Layout
>
