---
import PageMetaEs from "../../components/PageMetaEs.astro";
import ScreenshotPreview from "../../components/ScreenshotPreview.astro";
import Layout from "../../layouts/Layout.astro";
---

<PageMetaEs title="Showcase of WordPress Developed Sites" />
<Layout lang="en">
   <div
      class="flex px-4 md:px-0 h-screen max-w-[900px] mx-auto pt-6 flex-col gap-3"
   >
      <a
         href="/"
         class="flex w-fit items-center px-4 py-2 bg-gray-800 text-white rounded-lg hover:bg-gray-700 transition-colors duration-200"
      >
         <svg
            class="w-4 h-4 mr-2"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
         >
            <path
               stroke-linecap="round"
               stroke-linejoin="round"
               stroke-width="2"
               d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
         </svg>
         Back to home
      </a>
      <h1 class="text-3xl font-semibold mt-6">
         Showcase of my WordPress developed sites
      </h1>
      <p>
         Here I share a list of my latest work with a brief description of how
         each one is built and a link so you can view them in a screenshot or
         live. Most of the sites I have built from scratch, installing WordPress
         from cPanel on a GoDaddy server.
      </p>
      <p>
         Thank you very much in advance for considering my candidacy for the
         position and if you need anything please don't hesitate to contact me.
         I am very excited about the possibility of working with you and
         contributing to the team.
      </p>
      <section class="flex flex-col gap-4  pb-10">
         <div class="flex flex-col gap-4">
            <h4 class="font-semibold text-4xl mt-10">Business Broadcasting</h4>
            <p>
               This site is a news portal where the client can upload news from
               different categories and complete programs. It's mainly built
               with WordPress, Hello Elementor, Elementor. It features SEO
               optimization with YoastSEO and caching with LiteSpeed Cache.
            </p>
            <div>
               <ScreenshotPreview
                  src="https://facal.me/screenshots-proyectos/DIFUSION-1-COMPRESS.jpg"
                  alt="Screenshot of Business Broadcasting site"
               />
               <a
                  href="https://www.difusionempresarial.tv/"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  View site
               </a>
               <a
                  href="https://facal.me/screenshots-proyectos/DIFUSION-1.png"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  View screenshot
               </a>
            </div>
         </div>

         <div class="flex flex-col gap-4">
            <h4 class="font-semibold text-4xl mt-10">Abundantia Naples</h4>
            <p>
               This page is a landing page for an HR agency project. It's mainly
               built with WordPress, Hello Elementor, Elementor and a simple
               Contact Form.
            </p>
            <div>
               <ScreenshotPreview
                  src="https://facal.me/screenshots-proyectos/ABUNDANTIA-NAPLES-1-COMPRESS.jpg"
                  alt="Screenshot of Abundantia Naples site"
               />
               <a
                  href="https://abundantianaples.com/"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  View site
               </a>
               <a
                  href="https://facal.me/screenshots-proyectos/ABUNDANTIA-NAPLES-1.png"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  View screenshot
               </a>
            </div>
         </div>

         <div class="flex flex-col gap-4">
            <h4 class="font-semibold text-4xl mt-10">Battiart</h4>
            <p>
               This page is an e-commerce for selling digital art. It's mainly
               built with WordPress, WooCommerce, Elementor and a PayPal payment
               gateway.
            </p>
            <div>
               <ScreenshotPreview
                  src="https://facal.me/screenshots-proyectos/BATTIART-1-COMPRESS.jpg"
                  alt="Screenshot of Battiart site"
               />
               <a
                  href="https://battiart.com/"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  View site
               </a>
               <a
                  href="https://facal.me/screenshots-proyectos/BATTIART-1.png"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  View screenshot
               </a>
            </div>
         </div>
         <div class="flex flex-col gap-4">
            <h4 class="font-semibold text-4xl mt-10">LED Media Group</h4>
            <p>
               This is an e-commerce for selling LED screens without payment
               gateway for now. It's also built with WordPress, Elementor and
               WooCommerce.
            </p>
            <div>
               <ScreenshotPreview
                  src="https://facal.me/screenshots-proyectos/LED-1-COMPRESS.jpg"
                  alt="Screenshot of LED Media Group site"
               />
               <a
                  href="https://ledmediagroup.com/"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  View site
               </a>
               <a
                  href="https://facal.me/screenshots-proyectos/LED-1.png"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  View screenshot
               </a>
            </div>
         </div>
         <div class="flex flex-col gap-4">
            <h4 class="font-semibold text-4xl mt-10">IUPI</h4>
            <p>
               This page is a landing page for a graphic design agency project.
               It's mainly built with WordPress, Hello Elementor, Elementor and
               a simple Contact Form.
            </p>
            <div>
               <ScreenshotPreview
                  src="https://facal.me/screenshots-proyectos/IUPI-FULL-1-COMPRESS.jpg"
                  alt="Screenshot of IUPI site"
               />
               <a
                  href="https://iupi.com/"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  View site
               </a>
               <a
                  href="https://facal.me/screenshots-proyectos/IUPI-FULL-1.png"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  View screenshot
               </a>
            </div>
         </div>

         <div class="flex flex-col gap-4">
            <h4 class="font-semibold text-4xl mt-10">Next Level Authentic</h4>
            <p>
               This site is a portal for authenticating sports products. Also
               built with WordPress, Hello Elementor, Elementor.
            </p>
            <div>
               <ScreenshotPreview
                  src="https://facal.me/screenshots-proyectos/NEXT-1-COMPRESS.jpg"
                  alt="Screenshot of Next Level Authentic site"
               />
               <a
                  href="https://nextlevelauthentic.com/"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  View site
               </a>
               <a
                  href="https://facal.me/screenshots-proyectos/NEXT-1.png"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  View screenshot
               </a>
            </div>
         </div>

         <div class="flex flex-col gap-4">
            <h4 class="font-semibold text-4xl mt-10">Roger Huguet</h4>
            <p>
               This page is a simple landing page showcasing a writer where he
               could upload some articles and featured a photo gallery. Also
               built with WordPress, Hello Elementor, Elementor.
            </p>
            <div>
               <ScreenshotPreview
                  src="https://facal.me/screenshots-proyectos/ROGER-1-COMPRESS.jpg"
                  alt="Screenshot of Roger Huguet site"
               />
               <a
                  href="https://facal.me/screenshots-proyectos/ROGER-1.png"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  View screenshot
               </a>
            </div>
         </div>
      </section>
      <p class="text-center text-xl pb-10">
         If you want to know more about me you can go to the <a
            class="underline"
            href="https://facal.me">main page</a
         > of my portfolio
      </p>
   </div></Layout
>
