---

---

<footer class="section-container mt-4 pb-4 text-center">
  <p>
    Inspired by <a class="text-blue-400" href="https://porfolio.dev/"
      >porfolio.dev</a
    >. Source code <a
      class="text-blue-400"
      href="https://github.com/faustocalvinio/fausto-portfolio">here</a
    >.
  </p>
</footer>
<style>
  .section-container {
    @apply mx-auto max-w-[800px];
  }
</style>
