---
interface Props {
   TEXTS: string[];
}
const { TEXTS } = Astro.props;
---

<footer class="px-4 md:px-0 mx-auto max-w-[800px] mt-4 pb-4 text-center">
  <p>
    {TEXTS[0]}<a class="text-blue-800 dark:text-blue-400" href="https://porfolio.dev/"
      target="_blank">porfolio.dev</a
    >.{TEXTS[1]}<a
      class="text-blue-800 dark:text-blue-400"
      href="https://github.com/faustocalvinio/fausto-portfolio">{TEXTS[2]}</a
    >.
  </p>
</footer>

