---

---

<footer class="section-container mt-4 pb-4 text-center">
  <p>
    Inspirado por <a class="text-blue-400" href="https://porfolio.dev/"
      target="_blank">porfolio.dev</a
    >. Código fuente <a
      class="text-blue-400"
      href="https://github.com/faustocalvinio/fausto-portfolio">aquí</a
    >.
  </p>
</footer>
<style>
  .section-container {
    @apply mx-auto max-w-[800px];
  }
</style>
