---

---

<footer class=" mx-auto max-w-[800px] mt-4 pb-4 text-center">
  <p>
    Inspirado por <a class="text-blue-400" href="https://porfolio.dev/"
      target="_blank">porfolio.dev</a
    >. Código fuente en este <a
      class="text-blue-400"
      href="https://github.com/faustocalvinio/fausto-portfolio">repositorio</a
    >.
  </p>
</footer>

