---
const url = new URL(Astro.request.url);

import LanguageDropdown from "./LanguageDropdown.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
let navItems = [];
//    {
//       title: "Experiencia",
//       label: "experiencia",
//       url: "/#experiencia",
//    },
//    {
//       title: "Proyectos",
//       label: "proyectos",
//       url: "/#proyectos",
//    },
//    {
//       title: "Sobre mí",
//       label: "sobre-mi",
//       url: "/#sobre-mi",
//    },
//    {
//       title: "Contacto",
//       label: "contacto",
//       url: "mailto:faustocalvino@outlook.com",
//    },
// ];
// const navItemsEn = [
//    {
//       title: "Experience",
//       label: "experience",
//       url: "/#experience",
//    },
//    {
//       title: "Projects",
//       label: "projects",
//       url: "/#projects",
//    },
//    {
//       title: "About me",
//       label: "about-me",
//       url: "/#about-me",
//    },
//    {
//       title: "Contact",
//       label: "contact",
//       url: "mailto:faustocalvino@outlook.com",
//    },
// ];
interface Props {
   LANG: string;
}
const { LANG } = Astro.props;

if (LANG === "ES") {
   navItems = [
      {
         title: "Experiencia",
         label: "experiencia",
         url: "#experiencia",
      },
      {
         title: "Proyectos",
         label: "proyectos",
         url: "#proyectos",
      },
      {
         title: "Sobre mí",
         label: "sobre-mi",
         url: "#sobre-mi",
      },
      {
         title: "Contacto",
         label: "contacto",
         url: "mailto:faustocalvino@outlook.com",
      },
   ];
} else if (LANG === "EN") {
   navItems = [
      {
         title: "Experience",
         label: "experience",
         url: "#experience",
      },
      {
         title: "Projects",
         label: "projects",
         url: "#projects",
      },
      {
         title: "About me",
         label: "about-me",
         url: "#about-me",
      },
      {
         title: "Contact",
         label: "contact",
         url: "mailto:faustocalvino@outlook.com",
      },
   ];
}
---

<nav
   class="mt-7 md:mt-2 absolute right-3 md:fixed mx-auto z-30 md:w-full md:flex"
>
   <ul
      class="flex gap-4 w-fit mx-auto border border-gray-400 dark:border-white dark:bg-transparent px-3 text-lg py-2 rounded-lg items-center"
   >
      {
         navItems.map((link) => (
            <li class="max-sm:hidden">
               <a
                  class="relative block px-1 transition  hover:text-cyan-500 dark:hover:text-cyan-700 "
                  aria-label={link.label}
                  href={link.url}
               >
                  {link.title}
               </a>
            </li>
         ))
      }

      <!-- <li class="items-center md:flex">
         <ThemeSwitcher />
      </li> -->
      <!-- <LanguageDropdown /> -->
       {
         LANG === "ES" ? (
            <li class="items-center md:flex">
               <a
                  class="relative block px-1 transition hover:text-cyan-500 dark:hover:text-cyan-700"
                  aria-label="English"
                  href={ "/en"}
               >
                  EN
               </a>
            </li>
         ) : (
            <li class="items-center md:flex">
               <a
                  class="relative block px-1 transition hover:text-cyan-500 dark:hover:text-cyan-700"
                  aria-label="Español"
                  href={"/"}
               >
                  ES
               </a>
            </li>
         )
       }
   </ul>
</nav>
<style>
   a:hover {
      @apply hover:text-gray-500 dark:hover:text-gray-400;
   }
   ul {
      animation: nav-shadown 1s linear both;
      animation-timeline: scroll();
      animation-range: 0 100px;
   }

   @keyframes nav-shadown {
      to {
         background-color: rgba(255, 255, 255, 0.2);
         box-shadow:
            0 10px 15px -3px rgba(0, 0, 0, 0.1),
            0 4px 6px -2px rgba(0, 0, 0, 0.05);
         border: 1px solid rgba(255, 255, 255, 0.1);
         backdrop-filter: blur(8px);
      }
   }

   .dark ul {
      animation: nav-shadown-dark 1s linear both;
      animation-timeline: scroll();
      animation-range: 0 100px;
   }

   @keyframes nav-shadown-dark {
      to {
         background-color: rgba(31, 41, 55, 0.9);
         box-shadow:
            0 10px 15px -3px rgba(0, 0, 0, 0.1),
            0 4px 6px -2px rgba(0, 0, 0, 0.05);
         border: 1px solid rgba(255, 255, 255, 0.1);
         backdrop-filter: blur(8px);
      }
   }
</style>
