---
import ThemeSwitcher from "./ThemeSwitcher.astro";
const navItems = [
   {
      title: "Experiencia",
      label: "experiencia",
      url: "/#experiencia",
   },
   {
      title: "Proyectos",
      label: "proyectos",
      url: "/#proyectos",
   },
   {
      title: "Sobre mí",
      label: "sobre-mi",
      url: "/#sobre-mi",
   },
   {
      title: "Contacto",
      label: "contacto",
      url: "mailto:faustocalvino@gmail.com",
   },
];
---

<nav class="mt-5 md:mt-2 absolute right-3  md:fixed mx-auto z-30 md:w-full  md:flex">
   <ul
      class="flex gap-4 w-fit mx-auto border border-gray-400 dark:border-white bg-white dark:bg-transparent px-3 text-lg py-2 rounded-lg"
   >
      {
         navItems.map((link) => (
            <li class="max-sm:hidden">
               <a
                  class="relative block px-1 transition  hover:text-cyan-500 dark:hover:text-cyan-700 "
                  aria-label={link.label}
                  href={link.url}
               >
                  {link.title}
               </a>
            </li>
         ))
      }

      <li class=" items-center  md:flex">
         <ThemeSwitcher />
      </li>
   </ul>
   
</nav>
<style>
   a:hover {
      @apply hover:text-gray-500 dark:hover:text-gray-400
   }
   ul {
      animation: nav-shadown 1s linear both;
      animation-timeline: scroll();
      animation-range: 0 100px;
   }

   @keyframes nav-shadown {
      to {
         @apply  bg-white/20 shadow-lg ring-1 ring-white/10 backdrop-blur dark:bg-gray-800/90;
      }
   }
</style>
