---

---

<div class="flex gap-2">
  <img src="https://porfolio.dev/projects/svgl.webp" class="w-[300px]" alt="" />
  <div class="flex flex-col gap-2">
    <h3>Projecto</h3>
    <div>label</div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia doloribus
      consequatur tempora omnis nam, cumque praesentium amet ab in rem enim
      fuga, eligendi illum atque blanditiis officia labore corporis aliquam!
    </p>
    <div class="flex">
      <button class="bg-red-200">Code</button>

      <button class="bg-red-200">Preview</button>
    </div>
  </div>
</div>
<style>
  .section-container {
    @apply mx-auto max-w-[800px];
  }
</style>