---
import SectionContainer from "../components/SectionContainer.astro";
import SectionTitle from "../components/SectionTitle.astro";
import ExpLaboralIcon from "../components/icons/ExpLaboralIcon.astro";
---

<SectionContainer aditionalClass="flex flex-col" id="experiencia">
   <div class="flex gap-2 items-center">
      <ExpLaboralIcon />
      <SectionTitle title="Experiencia" />
   </div>
   <ol class="mt-4 relative border-s border-gray-200 dark:border-gray-700">
      <li class="mb-10 ms-4">
         <div
            class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
         >
         </div>
         <time
            class="mb-1 font-normal leading-none text-gray-400 dark:text-gray-500"
            >Mayo 2022 - Abril 2023</time
         >
         <h3 class="font-semibold text-gray-900 dark:text-white">
            WordPress Developer
         </h3>
         <p class="mb-4 font-normal text-gray-500 dark:text-gray-400">
            Tengo un año de experiencia desarrollando sitios web
            autogestionables con WordPress, creando landing pages, e-commerce
            con WooCommerce y portales de noticias. Utilizo Elementor para
            diseñar interfaces atractivas y funcionales, facilitando a mis
            clientes la gestión y actualización de sus sitios web.
         </p>
      </li>
      <li class="mb-10 ms-4">
         <div
            class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
         >
         </div>
         <time
            class="mb-1 font-normal leading-none text-gray-400 dark:text-gray-500"
            >Julio 2021 - Actualmente</time
         >
         <h3 class="font-semibold text-gray-900 dark:text-white">
            Sumando conocimientos sobre el desarrollo web
         </h3>
         <p class="mb-4 font-normal text-gray-500 dark:text-gray-400">
            Desde julio de 2021, he estado metido de lleno en el desarrollo web,
            aprendiendo tanto backend como frontend. Este tiempo ha sido súper
            importante para mí, ya que he podido mejorar mucho y aprender sobre
            varias tecnologías y herramientas.
         </p>
      </li>
   </ol>
</SectionContainer>
