---
import HeroLink from "../components/HeroLink.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Gmail from "../components/icons/Gmail.astro";
import PeaceIcon from "../components/icons/PeaceIcon.astro";
---

<SectionContainer aditionalClass="mt-0">
   <div class="pt-8 md:pt-24 pb-6 flex flex-col max-w-[800px]">
      <div class="flex items-center gap-2 mb-4">
         <img
            class="rounded-full shadow-lg size-16"
            src="/fotos-mias/hero-image-2.webp"
            alt="Foto Fausto Portada"
         />
         <div class="flex items-center">
            <span
               class="relative inline-flex overflow-hidden rounded-full p-[1px]"
            >
               <span
                  class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]"
               ></span>
               <div
                  class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-green-800 bg-green-100 rounded-full dark:bg-gray-900 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap"
               >
                  Disponible para trabajar
               </div>
            </span>
         </div>
      </div>
      <h1 class="text-5xl gap-4 flex items-center">
         Hola, soy Fausto <PeaceIcon />
      </h1>
      <p class="my-4">
          Soy un desarrollador web con tres años de experiencia en el ecosistema de aplicaciones desarrolladas con React, Next.js y aplicaciones de backend basadas en NodeJS.
      </p>
      <div class="flex gap-2 flex-wrap">
         <HeroLink href="https://www.linkedin.com/in/faustocalvinio/">
            <svg
               xmlns="http://www.w3.org/2000/svg"
               width="25"
               height="25"
               viewBox="0 0 256 256"
               class="dark:text-white"
               ><path
                  fill="currentColor"
                  d="M216 24H40a16 16 0 0 0-16 16v176a16 16 0 0 0 16 16h176a16 16 0 0 0 16-16V40a16 16 0 0 0-16-16m0 192H40V40h176zM96 112v64a8 8 0 0 1-16 0v-64a8 8 0 0 1 16 0m88 28v36a8 8 0 0 1-16 0v-36a20 20 0 0 0-40 0v36a8 8 0 0 1-16 0v-64a8 8 0 0 1 15.79-1.78A36 36 0 0 1 184 140m-84-56a12 12 0 1 1-12-12a12 12 0 0 1 12 12"
               ></path></svg
            >
            Linkedin
         </HeroLink>
         <HeroLink href="https://github.com/faustocalvinio">
            <svg
               xmlns="http://www.w3.org/2000/svg"
               width="25"
               height="25"
               viewBox="0 0 1024 1024"
               class="dark:text-white"
               ><path
                  fill="currentColor"
                  d="M511.6 76.3C264.3 76.2 64 276.4 64 523.5C64 718.9 189.3 885 363.8 946c23.5 5.9 19.9-10.8 19.9-22.2v-77.5c-135.7 15.9-141.2-73.9-150.3-88.9C215 726 171.5 718 184.5 703c30.9-15.9 62.4 4 98.9 57.9c26.4 39.1 77.9 32.5 104 26c5.7-23.5 17.9-44.5 34.7-60.8c-140.6-25.2-199.2-111-199.2-213c0-49.5 16.3-95 48.3-131.7c-20.4-60.5 1.9-112.3 4.9-120c58.1-5.2 118.5 41.6 123.2 45.3c33-8.9 70.7-13.6 112.9-13.6c42.4 0 80.2 4.9 113.5 13.9c11.3-8.6 67.3-48.8 121.3-43.9c2.9 7.7 24.7 58.3 5.5 118c32.4 36.8 48.9 82.7 48.9 132.3c0 102.2-59 188.1-200 212.9a127.5 127.5 0 0 1 38.1 91v112.5c.8 9 0 17.9 15 17.9c177.1-59.7 304.6-227 304.6-424.1c0-247.2-200.4-447.3-447.5-447.3"
               ></path></svg
            >
            Github
         </HeroLink>
         <HeroLink href="mailto:faustocalvino@outlook.com">
            <Gmail />
            Correo
         </HeroLink>
      </div>
   </div>
</SectionContainer>

<style>
   @keyframes wavingAnimation {
      0% {
         transform: rotate(0);
      }

      25% {
         transform: rotate(5deg);
      }

      50% {
         transform: rotate(-5deg);
      }

      75% {
         transform: rotate(5deg);
      }

      to {
         transform: rotate(0);
      }
   }
</style>
