---
import SkillsIcon from "../components/icons/SkillsIcon.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SectionTitle from "../components/SectionTitle.astro";
---

<SectionContainer>
   <div class="flex gap-3 items-center text-black dark:text-white">
      <SkillsIcon />
      <SectionTitle title="Skills" />
   </div>
</SectionContainer>
