---
import SkillsIcon from "../components/icons/SkillsIcon.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SectionTitle from "../components/SectionTitle.astro";
import DockerIcon from "../components/icons/DockerIcon.astro";
import SkillCard from "../components/SkillCard.astro";

---

<SectionContainer>
   <div class="flex gap-3 items-center text-black dark:text-white">
      <SkillsIcon />
      <SectionTitle title="Skills" />
      
   </div>
   <div class={`skillWrapper grid grid-cols-4`}>
      
      <SkillCard key="docker" name="Docker" brandColor="#ff0000">
         <DockerIcon slot="icon"/>
      </SkillCard>
      <SkillCard key="docker" name="Docker" brandColor="#ff0000">
         <DockerIcon slot="icon"/>
      </SkillCard>
      <SkillCard key="docker" name="Docker" brandColor="#00BFFF">
         <DockerIcon slot="icon"/>
      </SkillCard>
      <SkillCard key="docker" name="Docker" brandColor="#ff0000">
         <DockerIcon slot="icon"/>
      </SkillCard>
      <SkillCard key="docker" name="Docker" brandColor="#ff0000">
         <DockerIcon slot="icon"/>
      </SkillCard>
      <SkillCard key="docker" name="Docker" brandColor="#ff0000">
         <DockerIcon slot="icon"/>
      </SkillCard>
   </div>
   
</SectionContainer>
<style>
   .SkillsSection {
      @apply rounded-lg bg-gray-900 p-4;
   }
   .skillWrapper {
    --min-inline-size: 100px;
    
    max-inline-size: 800px;
    margin: 32px auto;
    padding: 16px;
    border: 1px solid var(--color-stroke);
    border-radius: 8px;
    overflow: hidden;
    transition: border-color var(--theme-transition-duration);
    justify-content: center;
    background-color: var(--color-background);
}
</style>
