---
import SectionContainer from "../components/SectionContainer.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SobreMiIcon from "../components/icons/SobreMiIcon.astro";
---

<SectionContainer aditionalClass="" id="sobre-mi">
   <div class="flex gap-3 items-center">
      <SobreMiIcon />
      <SectionTitle title="Sobre mí" />
   </div>
   <div class="flex w-full mt-4">
      <div class="flex flex-col gap-4 md:gap-0 items-center   md:flex-row">
         <div class="flex gap-6 flex-col">
            <p>
               Desde mediados del año 2021 aprendiendo desarrollo web
               de manera autodidacta. Tengo conocimientos en HTML, CSS,
               JavaScript y el ecosistema del framework React.
            </p>
            <p>
               Actualmente, estoy ampliando mis conocimientos en Next.js y Node.js.
            </p>
            <p>
               Me encuentro disponible para cualquier oportunidad laboral
               relacionada con estas tecnologías.
            </p>
         </div>
         <img
            class=" object-cover order-1 w-[75%] md:w-64 h-full p-1 bg-gray-700 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20"
            src="/fotos-mias/IMG_4597.webp"
            alt="Foto Fausto Perfil"
         />
      </div>
   </div>
</SectionContainer>
