---
import SectionContainer from "../components/SectionContainer.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SobreMiIcon from "../components/icons/SobreMiIcon.astro";
---

<SectionContainer aditionalClass="" id="sobre-mi">
   <div class="flex gap-3 items-center">
      <SobreMiIcon />
      <SectionTitle title="Sobre mí" />
   </div>
   <div class="flex w-full mt-4">
      <div class="flex flex-col gap-4 md:gap-0 items-center lg:flex-row">
         <div class="flex gap-6 flex-col">
            <p>
               Desde mediados de 2021, he estado aprendiendo desarrollo web de
               manera autodidacta. Poseo sólidos conocimientos en HTML, CSS,
               JavaScript, así como en el ecosistema de los frameworks React y
               Next.js.
            </p>

            <p>
               Actualmente, estoy ampliando mis habilidades en Node.js, Go y
               bases de datos. Puedes conocer más sobre mis proyectos y
               experiencia en mi portfolio web fausto.dev.ar.
            </p>

            <p>
               Estoy disponible para oportunidades laborales, tanto remotas como
               híbridas, en la ciudad de Madrid, y estoy entusiasmado por
               colaborar en proyectos que involucren estas tecnologías.
            </p>
         </div>
         <img
            class="object-cover order-1 w-[75%] md:w-64 h-full p-1 bg-gray-300 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20"
            src="/fotos-mias/IMG_4597.webp"
            alt="Foto Fausto Perfil"
         />
      </div>
   </div>
</SectionContainer>
