---
import PageMetaEs from "../../components/PageMetaEs.astro";
import ScreenshotPreview from "../../components/ScreenshotPreview.astro";
import Layout from "../../layouts/Layout.astro";
---

<PageMetaEs title="Presentación sitios desarrollados con WordPress" />
<Layout lang="en">
   <div
      class="flex px-4 md:px-0 h-screen max-w-[900px] mx-auto pt-6 flex-col gap-3"
   >
      <a
         href="/"
         class="flex w-fit items-center px-4 py-2 bg-gray-800 text-white rounded-lg hover:bg-gray-700 transition-colors duration-200"
      >
         <svg
            class="w-4 h-4 mr-2"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
         >
            <path
               stroke-linecap="round"
               stroke-linejoin="round"
               stroke-width="2"
               d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
         </svg>
         Volver al inicio
      </a>
      <h1 class="text-3xl font-semibold mt-6">
         Presentación de mis sitios desarrollados con WordPress
      </h1>
      <p>
         Aquí les dejo una lista de mis últimos trabajos con una pequeña
         descripción de cómo está hecho cada uno y un enlace para que puedan
         verlos en una captura de pantalla o en vivo. La mayoría de los sitios
         los he montado desde cero, instalando WordPress desde el CPanel en un
         servidor GoDaddy.
      </p>
      <p>
         Muchas gracias de antemano por considerar mi candidatura para el puesto
         y cualquier cosa que necesiten no duden en contactarme. Estoy muy
         entusiasmado con la posibilidad de trabajar con ustedes y contribuir al
         equipo.
      </p>
      <section class="flex flex-col gap-4  pb-10">
         <div class="flex flex-col gap-4">
            <h4 class="font-semibold text-4xl mt-10">Difusión Empresarial</h4>
            <p>
               Este sitio es un portal de noticias en el que el cliente puede
               subir noticias de distintas categorías y programas completos.
               Está hecho principalmente con WordPress, Hello Elementor,
               Elementor. Cuenta con optimización SEO de YoastSEO y de caché con
               LiteSpeed Cache.
            </p>
            <div>
               <ScreenshotPreview
                  src="https://facal.me/screenshots-proyectos/DIFUSION-1-COMPRESS.jpg"
                  alt="Captura de pantalla del sitio Difusión Empresarial"
               />
               <a
                  href="https://www.difusionempresarial.tv/"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  Ver sitio
               </a>
               <a
                  href="https://facal.me/screenshots-proyectos/DIFUSION-1.png"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  Ver captura de pantalla
               </a>
            </div>
         </div>

         <div class="flex flex-col gap-4">
            <h4 class="font-semibold text-4xl mt-10">Abundantia Naples</h4>
            <p>
               Esta página es una landing page para un proyecto de una agencia
               de RRHH. Está hecho principalmente con WordPress, Hello
               Elementor, Elementor y un Contact Form simple.
            </p>
            <div>
               <ScreenshotPreview
                  src="https://facal.me/screenshots-proyectos/ABUNDANTIA-NAPLES-1-COMPRESS.jpg"
                  alt="Captura de pantalla del sitio Abundantia Naples"
               />
               <a
                  href="https://abundantianaples.com/"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  Ver sitio
               </a>
               <a
                  href="https://facal.me/screenshots-proyectos/ABUNDANTIA-NAPLES-1.png"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  Ver captura de pantalla
               </a>
            </div>
         </div>

         <div class="flex flex-col gap-4">
            <h4 class="font-semibold text-4xl mt-10">Battiart</h4>
            <p>
               Esta página es un e-commerce de venta de arte digital. Está hecho
               principalmente con WordPress, WooCommerce, Elementor y una
               pasarela de pagos de PayPal.
            </p>
            <div>
               <ScreenshotPreview
                  src="https://facal.me/screenshots-proyectos/BATTIART-1-COMPRESS.jpg"
                  alt="Captura de pantalla del sitio Battiart"
               />
               <a
                  href="https://battiart.com/"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  Ver sitio
               </a>
               <a
                  href="https://facal.me/screenshots-proyectos/BATTIART-1.png"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  Ver captura de pantalla
               </a>
            </div>
         </div>
         <div class="flex flex-col gap-4">
            <h4 class="font-semibold text-4xl mt-10">LED Media Group</h4>
            <p>
               Este es un e-commerce de venta de pantallas LED sin pasarela de
               pagos de momento. También está hecho con WordPress, Elementor y
               WooCommerce.
            </p>
            <div>
               <ScreenshotPreview
                  src="https://facal.me/screenshots-proyectos/LED-1-COMPRESS.jpg"
                  alt="Captura de pantalla del sitio LED Media Group"
               />
               <a
                  href="https://ledmediagroup.com/"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  Ver sitio
               </a>
               <a
                  href="https://facal.me/screenshots-proyectos/LED-1.png"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  Ver captura de pantalla
               </a>
            </div>
         </div>
         <div class="flex flex-col gap-4">
            <h4 class="font-semibold text-4xl mt-10">IUPI</h4>
            <p>
               Esta página es una landing page para un proyecto de una agencia
               de diseño gráfico. Está hecha principalmente con WordPress, Hello
               Elementor, Elementor y un Contact Form simple.
            </p>
            <div>
               <ScreenshotPreview
                  src="https://facal.me/screenshots-proyectos/IUPI-FULL-1-COMPRESS.jpg"
                  alt="Captura de pantalla del sitio IUPI"
               />
               <a
                  href="https://iupi.com/"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  Ver sitio
               </a>
               <a
                  href="https://facal.me/screenshots-proyectos/IUPI-FULL-1.png"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  Ver captura de pantalla
               </a>
            </div>
         </div>

         <div class="flex flex-col gap-4">
            <h4 class="font-semibold text-4xl mt-10">Next Level Authentic</h4>
            <p>
               Este sitio es un portal de autenticación de productos deportivos.
               También hecho con WordPress, Hello Elementor, Elementor.
            </p>
            <div>
               <ScreenshotPreview
                  src="https://facal.me/screenshots-proyectos/NEXT-1-COMPRESS.jpg"
                  alt="Captura de pantalla del sitio Next Level Authentic"
               />
               <a
                  href="https://nextlevelauthentic.com/"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  Ver sitio
               </a>
               <a
                  href="https://facal.me/screenshots-proyectos/NEXT-1.png"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  Ver captura de pantalla
               </a>
            </div>
         </div>

         <div class="flex flex-col gap-4">
            <h4 class="font-semibold text-4xl mt-10">Roger Huguet</h4>
            <p>
               Esta página es una simple landing page de presentación de un
               escritor en la que podía subir algunos artículos y contaba con
               una galería de fotos. También hecha con WordPress, Hello
               Elementor, Elementor.
            </p>
            <div>
               <ScreenshotPreview
                  src="https://facal.me/screenshots-proyectos/ROGER-1-COMPRESS.jpg"
                  alt="Captura de pantalla del sitio Roger Huguet"
               />
               <a
                  href="https://facal.me/screenshots-proyectos/ROGER-1.png"
                  target="_blank"
                  class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors duration-200"
               >
                  Ver captura de pantalla
               </a>
            </div>
         </div>
      </section>
      <p class="text-center text-xl pb-10">
         Si quieres saber más sobre mí puedes ir a la <a
            class="underline"
            href="https://facal.me">página principal</a
         > de mi portfolio
      </p>
   </div></Layout
>
