---
import "@fontsource-variable/onest";
interface Props {
   title?: string;
   description?: string;
   image?: string;
   url?: string;
}

const { title, description, image, url } = Astro.props;
---

<html lang="es">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width" />
      <link rel="icon" type="image/svg+xml" href="/faviconsvg.svg" />
      <slot name="meta" />
   </head>
   <body class="dark:text-white text-2xl">
      <div
         class="absolute inset-0 -z-10 h-fit w-full bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px] dark:bg-[#000000] dark:bg-[radial-gradient(#ffffff26_1px,#00091d_1px)]"
      >
         <slot />
      </div>
   </body><style is:global>
      html {
         font-family: "Onest Variable", system-ui, sans-serif;
         scroll-behavior: smooth;
      }

      ::selection {
         color: #fff;
         background-color: #494949;
      }
      .dark ::selection {
         background-color: #fff;
         color: #000;
      }
      .dark ::-webkit-scrollbar {
         width: 12px;
      }
      .dark ::-webkit-scrollbar-track {
         background: #111827;
      }
      .dark ::-webkit-scrollbar-thumb {
         background: #414141;
      }
      ::-webkit-scrollbar {
         width: 12px;
      }
      ::-webkit-scrollbar-track {
         background: #ffffff;
      }
      ::-webkit-scrollbar-thumb {
         background: #b3b3b3;
      }
   </style>
</html>
