---
import "@fontsource-variable/onest";
interface Props {
   title?: string;
   description?: string;
   image?: string;
   url?: string;
   lang: "es" | "en";
}
import ScrollToTop from "../components/ScrollToTop.astro";
import { ClientRouter, fade } from "astro:transitions";
const { title, description, image, url, lang } = Astro.props;
---

<html lang={lang}>
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width" />
      <link rel="icon" type="image/png" href="/personal-favicon.png" />
      <script defer>
         function applyTheme() {
            const savedTheme = localStorage.getItem("theme");
            const systemTheme = window.matchMedia(
               "(prefers-color-scheme: dark)",
            ).matches
               ? "dark"
               : "light";
            const theme = savedTheme || systemTheme;

            if (theme === "dark") {
               document.documentElement.classList.add("dark");
            } else {
               document.documentElement.classList.remove("dark");
            }

            localStorage.setItem("theme", theme);
         }

         applyTheme();

         document.addEventListener("astro:after-swap", applyTheme);

         document.addEventListener("astro:page-load", applyTheme);
      </script>
      <slot name="meta" />
      <ClientRouter />
   </head>
   <body class="dark:text-white text-[17px] leading-relaxed text-gray-700 dark:text-gray-300" transition:animate={fade({
      duration: "0.4s",
   })}>
      <div
         class="fixed overflow-visible -z-10 h-screen w-full bg-gray-50 bg-[radial-gradient(100%_50%_at_50%_0%,rgba(59,130,246,0.08)_0,rgba(59,130,246,0)_50%,rgba(59,130,246,0)_100%)] dark:bg-slate-950 dark:bg-[radial-gradient(ellipse_80%_50%_at_50%_-20%,rgba(59,130,246,0.12),transparent)]"
      >
      </div>
      <slot />
      <ScrollToTop />
   </body>
</html>
<style is:global>
   html {
      font-family: "Onest Variable", system-ui, sans-serif;
      scroll-behavior: smooth;
      scroll-padding-top: 60px;
   }
   ::selection {
      color: #fff;
      background-color: #3b82f6;
   }
   .dark ::selection {
      background-color: #60a5fa;
      color: #000;
   }
   .dark ::-webkit-scrollbar {
      width: 10px;
   }
   .dark ::-webkit-scrollbar-track {
      background: #0f172a;
   }
   .dark ::-webkit-scrollbar-thumb {
      background: #334155;
      border-radius: 5px;
   }
   ::-webkit-scrollbar {
      width: 10px;
   }
   ::-webkit-scrollbar-track {
      background: #f8fafc;
   }
   ::-webkit-scrollbar-thumb {
      background: #cbd5e1;
      border-radius: 5px;
   }
</style>
