---
import "@fontsource-variable/onest";
interface Props {
   title?: string;
   description?: string;
   image?: string;
   url?: string;
   lang: "es" | "en";
}
import ScrollToTop from "../components/ScrollToTop.astro";
import { ClientRouter, fade } from "astro:transitions";
const { title, description, image, url, lang } = Astro.props;
---

<html lang={lang}>
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width" />
      <link rel="icon" type="image/png" href="/personal-favicon.png" />
      <script defer>
         function applyTheme() {
            const savedTheme = localStorage.getItem("theme");
            const systemTheme = window.matchMedia(
               "(prefers-color-scheme: dark)",
            ).matches
               ? "dark"
               : "light";
            const theme = savedTheme || systemTheme;

            if (theme === "dark") {
               document.documentElement.classList.add("dark");
            } else {
               document.documentElement.classList.remove("dark");
            }

            localStorage.setItem("theme", theme);
         }

         applyTheme();

         document.addEventListener("astro:after-swap", applyTheme);

         document.addEventListener("astro:page-load", applyTheme);
      </script>
      <slot name="meta" />
      <ClientRouter />
   </head>
   <body class="dark:text-white text-[18px] leading-snug" transition:animate={fade({
      duration: "2s",
   })}>
      <div
         class="fixed overflow-visible -z-10 h-screen w-full bg-white bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,163,255,0.13)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)] dark:bg-slate-950 dark:bg-[radial-gradient(circle_500px_at_50%_200px,#2A2A2A,transparent)]"
      >
      </div>
      <slot />
      <ScrollToTop />
   </body>
</html>
<style is:global>
   html {
      font-family: "Onest Variable", system-ui, sans-serif;
      scroll-behavior: smooth;
      scroll-padding-top: 60px;
   }
   body {
      cursor: url("/cursor-png.png"), auto;
   }
   a,
   button,
   input,
   textarea {
      cursor: url(/hand-pointer.png), pointer;
   }
   ::selection {
      color: #fff;
      background-color: #000;
   }
   .dark ::selection {
      background-color: #fff;
      color: #000;
   }
   .dark ::-webkit-scrollbar {
      width: 12px;
   }
   .dark ::-webkit-scrollbar-track {
      background: #111827;
   }
   .dark ::-webkit-scrollbar-thumb {
      background: #414141;
   }
   ::-webkit-scrollbar {
      width: 12px;
   }
   ::-webkit-scrollbar-track {
      background: #ffffff;
   }
   ::-webkit-scrollbar-thumb {
      background: #b3b3b3;
   }
</style>
